extends templates/default 

mixin tableRow(batch)
	tr(onclick="openBatch('"+batch._id+"', event)")
		td=batch.orders.length
		td=batch.numberOfSkus
		td=batch.numberOfItems
		td=batch.completed
		td(data-sort=moment(batch.startTime))=moment(batch.startTime).format('MMMM Do, h:mm:ss a')
		th
			a.btn.btn-secondary(href="/packing-slip?id="+batch._id, target="_blank") View

append head
	title Batch Orders

append nav-items-right
	a.btn-outline-success.btn.ml-2(href="/print-orders") Create Batch

append body
	script.
		function openBatch(id, e) {
			if (e.target.localName != 'a') {
				window.location = '/batch?id='+id;
			}
		}

	.form-row
		.col-12
			h3 Sort Batch
			input.form-control.form-control-lg(type="text", placeholder="Scan batch barcode here")#sortBatch
	.row.pt-3
		.col-lg-12
			table.table-hover.table#batchTable
				thead
					tr
						th Number of Orders
						th Number of SKUs
						th Number of Items
						th Completed
						th Start Date
						th Packing Slips
				tbody#orderTableBody
					each batch in batches
						+tableRow(batch)

		script.
			$(document).ready(e => {
				$('#batchTable').DataTable({
					bDestroy: true,
					pageLength: 100,
					order: [[4, 'desc']]
				});

				$('#sortBatch').select();
				$('#sortBatch').on('keypress', e => {
					var key = e.keyCode || e.which;
					if (key == 13) { // enter key
						var batch_id = $('#sortBatch').val();
						if (batch_id != '') {
							window.location = '/sort-batch?shortid=' + batch_id;
						}
					}
				});
			});