extends templates/default

mixin orderRow(order)
	tr(onclick="window.location='/order?id="+order._id+"'")
		td=order.orderId
		td=order.customer.name
		td=order.items.length
		td=order.items.reduce((total, item) => total + parseInt(item.quantity), 0)
		td=order.items.reduce((total, item) => total + parseInt(item.pickedQuantity), 0)
		td='$'+order.orderValue.toFixed(2)

append head
	title Batch

append nav-items
	span.navbar-brand.mb-0.h1.pl-2=batch._id + ' - ' + batch.shortid
	span.navbar-text#orderInfo.ml-2

append nav-items-right
	li.dropdown.nav-item
		a.nav-link.dropdown-toggle(href="#" aria-haspopup="true" data-toggle="dropdown") Actions
		ul.dropdown-menu.dropdown-menu-right
			a(href="#").dropdown-item#finishBatchButton Finish
			a(href="/batch-shipping?id="+batch._id).dropdown-item Shipping Info
			a.dropdown-item(href="/sort-batch?id="+batch._id) Sort
			a.dropdown-item(href="/batch/confirm/"+batch._id) Confirm Shipping
			.dropdown-divider
			a#deleteBatchButton(href="#").dropdown-item.bg-danger.text-white Delete
	li.dropdown.nav-item
		a.nav-link.dropdown-toggle(href="#" aria-haspopup="true" data-toggle="dropdown") View
		ul.dropdown-menu.dropdown-menu-right
			a.dropdown-item(href="/batch-sheet?id="+batch._id) Pick Sheet
			a.dropdown-item(href="/packing-slip?id="+batch._id) Packing Slip
	button.btn-primary.btn.mr-2(type="button")#addOrderButton Add Order

append body		
	.row
		.col
			h4 Information
			table.table.table-sm#customerTable
				thead
					tr
						th Start Date
						th End Date
						th Completed
						th Number of Orders
						th Picker
						th Sorter
				tbody#customerTableBody
					tr
						td=moment(batch.startTime).format('MMM Do - h:mm:ss a')
						td=batch.endTime ? moment(batch.endTime).format('MMM Do hh:mm:ss a') : '-'
						td=batch.completed ? 'yes' : 'no'
						td=batch.orders.length
						if (batch.picker)
							td=batch.picker.email
						else
							td N/A
						td= batch.sorter ? batch.sorter.email : 'N/A'

	.row.pt-2
		.col
			h4 Orders
			table.table.table-striped.table-hover#orderTable
				thead
					tr
						th Id
						th Name
						th Number of SKUs
						th Ordered
						th Picked
						th Value
				tbody#orderTableBody
					each order in batch.orders
						+orderRow(order)

	script.
		var socket = io();
		var theBatch = !{JSON.stringify(batch)};
		console.log(theBatch);

		$(document).ready(e => {
			$('#finishBatchButton').click(e => {
				$('#finishBatchButton').button('loading');
				axios.post('/api/batch/finish', theBatch).then(response => {
					location.reload();
				}).catch(err => {
					console.log(err);
					alert('There was an error trying to finish the batch. Make sure you are logged in.');
				});
			});

			$('#deleteBatchButton').click(e => {
				e.preventDefault();
				var yes = confirm('Are you sure you want to delete this batch? All associated orders will no longer have a batch.');
				if (yes) {
					socket.emit('deleteBatch', theBatch._id, done => {
						location.reload();
					});
				}
			});

			$('#addOrderButton').click(e => {
				socket.emit('addOrder')
			});	
		});