extends templates/default

mixin orderTableRow(order, customer)
  tr(onclick="window.location='/order?id="+order._id+"';")
    td=order.orderId
    td=moment(order.orderDate).format('MMM Do YYYY')
    td=customer.name
    td=order.picked ? 'yes' : 'no'
    td=order.invoiced ? 'yes' : 'no'
    td=order.paid ? 'yes' : 'no'
    td='$' + order.orderValue.toFixed(2)

append head
  title=customer.name

append nav-items
  span.navbar-brand.mb-0.h1.pl-2=customer.name
  span.navbar-text#orderInfo.ml-2

append nav-items-right        
  ul.navbar-nav.ml-auto
    li.dropdown.nav-item
      a.nav-link.dropdown-toggle(href="#" aria-haspopup="true" data-toggle="dropdown") Actions
      ul.dropdown-menu.dropdown-menu-right
        a(href="mailto:"+customer.email target="_blank").dropdown-item Send Email
    button.btn.btn-warning.mr-2(type="button" data-target="#addCommentModal" data-toggle="modal") Comment
    button.btn.btn-success(type="button")#saveButton Save

append body
  .container-fluid
    ul.nav.nav-tabs#itemDetailTabs(role="tablist")
      li.nav-item
        a.nav-link.active#info-tab(data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true") Info
      li.nav-item
        a.nav-link#details-tab(data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true") Orders
          span.badge.badge-secondary.ml-1=customer.orders.length

    .tab-content
      .tab-pane.fade.show.active#info(role="tabpanel" aria-labelledby="info-tab")
        .row.pt-2
          .col
            .form-group
              label First Name
              input.form-control(type="text" value=customer.firstname)#firstname
          .col
            .form-group
              label Last Name
              input.form-control(type="text" value=customer.lastname)#lastname
          .col
            .form-group
              label Company
              input.form-control(type="text" value=customer.companyName)#companyName
        .row
          .col
            .form-group
              label Type
              select.form-control#customerType
                option(value="0" selected= customer.customerType == 0) Retail
                option(value=(customer.canadian ? "19" : "18") selected= (customer.canadian && customer.customerType == 19) || (!customer.canadian && customer.customerType == 18)) Premier Member
                option(value="14" selected=(customer.canadian && customer.customerType == 14) || (!customer.canadian && customer.customerType == 2)) Wholesale
                option(value="22" selected=(customer.customerType == 22 && customer.canadian)) Crafter's Home
          .col
            .form-group
              label Email
              input.form-control(type="text" value=customer.email)#email
          .col
            .form-group
              label Phone
              input.form-control(type="text" value=customer.phone)#phone
        .row
          .col
            h5 Default Billing Info
            .form-group
              label Address 1
              input.form-control(type="text" value=customer.billingAddress)#billingAddress
            .form-group
              label Address 2
              input.form-control(type="text" value=customer.billingAddress2)#billingAddress2
            .row
              .col
                .form-group
                  label City
                  input.form-control(type="text" value=customer.billingCity)#billingCity
              .col
                .form-group
                  label State
                  input.form-control(type="text" value=customer.billingState)#billingState
            .row
              .col
                .form-group
                  label Zip Code
                  input.form-control(type="text" value=customer.billingZipCode)#billingZipCode
              .col
                .form-group
                  label Country
                  input.form-control(type="text" value=customer.billingCountry)#billingCountry
          .col
            h5 Default Shipping Info
            .form-group
              label Address 1
              input.form-control(type="text" value=customer.shippingAddress)#shippingAddress
            .form-group
              label Address 2
              input.form-control(type="text" value=customer.shippingAddress2)#shippingAddress2
            .row
              .col
                .form-group
                  label City
                  input.form-control(type="text" value=customer.shippingCity)#shippingCity
              .col
                .form-group
                  label State
                  input.form-control(type="text" value=customer.shippingState)#shippingState
            .row
              .col
                .form-group
                  label Zip Code
                  input.form-control(type="text" value=customer.shippingZipCode)#shippingZipCode
              .col
                .form-group
                  label Country
                  input.form-control(type="text" value=customer.shippingCountry)#shippingCountry
    
      .tab-pane.fade#details(role="tabpanel" aria-labelledby="details-tab")
        if (customer.orders)
          .row.pt-2
            h2 Orders
            table.table-hover.table.table-striped
              thead
                th Order ID
                th Date
                th Name
                th Picked
                th Invoiced
                th Paid
                th Amount
              tbody
                each order in customer.orders
                  +orderTableRow(order, customer)
    
    h5 Comments
    each comment, index in customer.comments
      .card.mt-2
        .card-body=comment.comment
        .card-footer=comment.user.username + ' - ' + moment(comment.date).format('MMM Do, YYYY')

  #addCommentModal.modal(tabindex="-1" role="dialog").fade
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h5.mb-0 New Comment
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .row
            .col
              textarea.form-control#userComment
        .modal-footer
          button.btn-primary.btn(type="button")#addCommentButton Save
          button.btn-secondary.btn(type="button" data-dismiss="modal") Cancel

  script.
    var socket = io();
    var theCustomer = !{JSON.stringify(customer)};
    console.log(theCustomer);
    $(document).ready(e => {
      $('#saveButton').click(e => {
        theCustomer.firstname = $('#firstname').val();
        theCustomer.lastname = $('#lastname').val();
        theCustomer.phone = $('#phone').val();
        theCustomer.email = $('#email').val();
        theCustomer.billingAddress = $('#billingAddress').val();
        theCustomer.billingAddress2 = $('#billingAddress2').val();
        theCustomer.billingCity = $('#billingCity').val();
        theCustomer.billingZipCode = $('#billingZipCode').val();
        theCustomer.billingCountry = $('#billingCountry').val();
        theCustomer.billingState = $('#billingState').val();
        socket.emit('saveCustomer', theCustomer, cb => {
          location.reload();
        });
      });

      $('#addCommentButton').click(e => {
        axios.post('/api/customer/'+theCustomer._id+'/comment', {
          comment: $('#userComment').val()
        }).then(response => {
          location.reload();
        });
      });
    });