mixin orderRow(order)
	tr
		td=order.orderId
		td=order.name
		td=order.items.reduce((total, item) => total + item.quantity, 0)
		td=order.items.reduce((total, item) => total + item.pickedQuantity, 0)
		td='$' + order.orderValue.toFixed(2)

doctype html
include mixins
html
	include includes/head
		title Invoicing
	body
		#wrapper
			+sidebarNav("invoice-home")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Invoicing
						p.lead Scan your batch barcode in the field below
				.row.justify-content-center
					.col-8
						input.form-control.form-control-lg(type="text" placeholder="Scan the Batch Barcode here.")#batchBarcode
					
		+footer

		script.
			$(document).ready(e => {
				$('#batchBarcode').select();

				$('#batchBarcode').on('keypress', e => {
					var key = e.which || e.keyCode;
					if (key == 13) { // enter key
						var code = $('#batchBarcode').val();
						if (code) {
							window.location = '/invoice-batch?id='+code;
						}
					}
				});
			});