mixin orderRow(order)
	tr
		td=order.orderId
		td=order.name
		td=order.items.reduce((total, item) => total + item.quantity, 0)
		td=order.items.reduce((total, item) => total + item.pickedQuantity, 0)
		td='$' + order.orderValue.toFixed(2)

mixin batchRow(batch)
	tr(onclick="openBatch('"+batch._id+"')")
		td=batch.orders.length
		td=moment(batch.startTime).format('MMM Do, hh:mm a')
		td=moment(batch.endTime).format('MMM Do, hh:mm a')

doctype html
include mixins
html
	include includes/head
		title Invoicing
	body
		#wrapper
			+sidebarNav("invoice-home")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Invoicing
						p.lead Scan your batch barcode in the field below, or choose an open batch from the list
				
				.container
					.row.justify-content-center
						.col-8
							input.form-control.form-control-lg(type="text" placeholder="Scan the Batch Barcode here.")#batchBarcode
					.row.pt-2
						.col-12
							table.table.table-striped.table-hover
								thead
									tr
										th Number of Orders
										th Start Date
										th End Date
								tbody
									each batch in batches
										+batchRow(batch)
						
		+footer

		script.
			$(document).ready(e => {
				$('#batchBarcode').select();

				$('#batchBarcode').on('keypress', e => {
					var key = e.which || e.keyCode;
					if (key == 13) { // enter key
						var code = $('#batchBarcode').val();
						if (code) {
							window.location = '/invoice-batch?id='+code;
						}
					}
				});
			});

			function openBatch(id) {
				window.location = '/invoice-batch?id='+id;
			}