extends templates/default

mixin orderRow(order)
  tr(onclick="orderSelected('"+order._id+"', event)")
    td=order.orderId
    td=order.customer.name
    td(data-sort=moment(order.orderDate))=moment(order.orderDate).format('MMM Do')
    td=order.customer.companyName
    td='$' + (order.subtotal + order.salesTax).toFixed(2)

append nav-items-right
  button.btn.btn-primary(type="button")#crossCheckButton Cross Check in QB

append head
  title Orders to be Invoiced

append body
  .container-fluid
    .row
      .col
        h2 US Orders
        p.lead= 'There are ' + usOrders.length + ' orders that need to be invoiced.'
        table.table.table-striped.table-hover#usOrderTable
          thead
            tr
              th Order ID
              th Name
              th Order Date
              th Company
              th Value
          tbody
            each order in usOrders
              +orderRow(order)

    .row.pt-2
      .col
        h2 Canadian Orders
        p.lead= 'There are ' + canOrders.length + ' orders that need to be invoiced.'
        table.table.table-striped.table-hover#canOrderTable
          thead
            tr
              th Order ID
              th Name
              th Order Date
              th Company
              th Value
          tbody
            each order in canOrders
              +orderRow(order)

  script.
    var socket = io();
    $('#usOrderTable').DataTable({
      bDestroy: true,
      pageLength: 100,
      order: [[2, 'desc']]
    });

    $('#canOrderTable').DataTable({
      bDestroy: true,
      pageLength: 100,
      order: [[2, 'desc']]
    });

    $('#crossCheckButton').click(e => {
      socket.emit('crossCheckUninvoicedOrders', cb => {
        alert('Run the web connector!');
      });
    });

    function orderSelected(id, e) {
      if (e.target.localName != 'a') {
        window.location="/order?id="+id;
      }
    }