mixin summaryCard(name, id, colour, textColour)
	.card
		.card-header(class=colour + ' ' + textColour)
			h5.mb-0=name
		.card-body.summary-card
			table.table.table-sm.table-hover
				thead
					tr
						th ID
						th Name
						//th Value
						th Date
				tbody(id=id+"SummaryTable")
		.card-footer(id=id+"CardFooter")

mixin processingCard(name, id, colour, textColour)
	.card
			.card-header(class=colour + ' ' + textColour)
				h5.mb-0=name
			.card-body.summary-card
				table.table.table-sm.table-hover
					thead
						tr
							th ID
							th Name
							th Order Date
							th Due Date
							th Number of Items
					tbody(id=id+"SummaryTable")
			.card-footer(id=id+"CardFooter")

doctype html
include mixins
html
	include includes/head
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")
		script(src="js/order-dashboard.js")
		title Order Dashboard
	body
		#wrapper
			+sidebarNav("home")
			#page-content
				.container-fluid
					button.btn.btn-secondary.btn-toggles(type="button")#left-menu-toggle
						i.far.fa-bars.fa-fw
					.starter-template
						h1 Order Dashboard
						p.lead The current state of the orders for US and Canada.
				.container-fluid.px-5
					.progress
						.progress-bar.progress-bar-striped.progress-bar-animated#summaryProgress
					.row.mt-3
						.col-12
							.alert.alert-danger#overdueOrders
							.alert.alert-info#dueOrders
					.row.mt-3
						.col-12
							+processingCard("Processing", "processing", "bg-primary", "text-white")
					.row.mt-3
						.col-12
							.card
								.card-header
									h5.mb-0 Customers with Multiple Orders
								.card-body.summary-card#multipleOrderSummary
								.card-footer#multipleOrderFooter
					.card-deck.mt-3
						+summaryCard("New", "new", "bg-light")
						+summaryCard("Back Order", "backorder", "bg-warning")
					.card-deck.mt-3
						+summaryCard("Preorder", "preorder", "bg-info", "text-white")
						+summaryCard("Processing Payment", "payment", "bg-success", "text-white")
						+summaryCard("Awaiting Shipment", "shipment", "bg-dark", "text-white")

		+footer