extends templates/default

mixin orderRow(order)
	tr(class=moment().isAfter(order.dueDate) ? 'overdue' : '', class=moment().isSame(order.dueDate, 'day') ? 'due' : '', onclick="window.location='/order?id="+order._id+"'")
		td=order.orderId
		td=order.customer ? order.customer.name : 'No Customer'
		td=moment(order.orderDate).format('MMM Do')
		td=moment(order.dueDate).format('MMM Do')
		td=order.items.length

append head
	title Order Overview
	script(src="/js/search.js")
	script(src="/js/orders.js")
	script(src="/js/views/orderSearchResults.js")

append nav-items
	ul.navbar-nav.mr-auto.ml-2
		li.nav-item
			input.form-control-lg.form-control(type="search" placeholder="Search" size="40")#searchBar
			#searchResults

append nav-items-right
	li.nav-item
		a.btn.btn-outline-primary(href="/batches").mr-2 Sort Batch
	li.nav-item
		a.btn.btn-outline-primary(href="/orders/pick") Pick Orders

append body
	.container-fluid
		.row
			.col
				h5 Recent Orders
				p.lead The 10 most recent orders.
			.col
				h5 Open Batches
				p.lead All open batches currently being picked.
		.row
			.col
				table.table.table-striped.table-hover#orderTable
					thead
						tr
							th Order ID
							th Name
							th Date
							th Company
							th Value
					tbody
						each order in recentOrders
							tr(onclick="orderSelected('"+order._id+"', event)")
								td=order.orderId
								if (order.customer)
									td=order.customer.name
								else
									td No customer
								td(data-sort=moment(order.orderDate))=moment(order.orderDate).format('MMM Do')
								if (order.customer)
									td=order.customer.companyName
								else
									td No company
								td='$' + order.orderValue.toFixed(2)
			.col
				table.table.table-striped.table-hover
					thead
						tr
							th Batch ID
							th Start Date
							th Picker
							th Number of Orders
							th Number of Items
					tbody
						each batch in batches
							tr(onclick="window.location='/batch/"+batch._id+"'")
								td=batch.shortid
								td=moment(batch.startTime).utc().format('MMM Do YYYY')
								if (batch.picker)
									td=batch.picker.username
								else
									td N/A
								td=batch.orders.length
								td=batch.numberOfItems
		.row
			.col
				h4 Processing
				p.lead Orders that have not been picked yet.
		.row
			- let canadianOrders = unpicked.filter(o => o.canadian)
			- let usOrders = unpicked.filter(o => !o.canadian && !o.amazon)
			- let amazon = unpicked.filter(o => o.amazon)
			.col
				h5 Canadian
				p.lead= canadianOrders.filter(o => moment().isAfter(o.dueDate)).length + ' orders are overdue.'
				.summary-table
					table.table.table-striped.table-hover
						thead
							tr
								th ID
								th Name
								th Order Date
								th Due Date
								th Number of SKUs
						tbody
							for order in canadianOrders
								+orderRow(order)
			.col
				h5 US
				p.lead= usOrders.filter(o => moment().isAfter(o.dueDate)).length + ' orders are overdue.'
				.summary-table
					table.table.table-striped.table-hover
						thead
							tr
								th ID
								th Name
								th Order Date
								th Due Date
								th Number of SKUs
						tbody
							for order in usOrders
								+orderRow(order)
		.row
			.col.pt-2
				h5 Amazon
				p.lead= amazon.filter(o => moment().isAfter(o.dueDate)).length + ' orders are overdue.'
				.summary-table
					table.table.table-striped.table-hover
						thead
							tr
								th ID
								th Name
								th Order Date
								th Due Date
								th Number of SKUs
						tbody
							for order in amazon
								+orderRow(order)
			.col.pt-2
				h4 Held Orders
				p.lead= 'There are ' + heldOrders.length + ' orders on Hold.'
				.summary-table
					table.table.table-striped.table-hover
						thead
							tr
								th ID
								th Name
								th Order Date
								th Hold Reason
						tbody
							each order in heldOrders
								tr(onclick="window.location='/order?id="+order._id+"'")
									td= order.orderId
									td= order.customer.name
									td= moment(order.orderDate).utc().format('MMM Do, YYYY')
									td= order.reasonForHold

	script.
		function orderSelected(id, e) {
			if (e.target.localName != 'a') {
				window.location="/order?id="+id;
			}
		}