mixin orderRow(order)
	tr(onclick="orderSelected('"+order._id+"', event)")
		td=order.orderId
		if (order.customer)
			td=order.customer.name
		else
			td No customer
		td(data-sort=moment(order.orderDate))=moment(order.orderDate).format('MMM Do')
		td(data-sort=moment(order.dueDate))=moment(order.dueDate).format('MMM Do')
		if (order.customer)
			td=order.customer.companyName
		else
			td No company
		td='$' + order.orderValue.toFixed(2)
		td='$' + order.orderProfit.toFixed(2)
		td=order.picked ? 'yes' : 'no'
		td=order.invoiced ? 'yes' : 'no'

doctype html
include mixins
html
	include includes/head
		title Order Overview
	body
		#wrapper
			+sidebarNav("orders")

			#page-content
				+menuToggle
				.starter-template
					h1 Orders
					p.lead View the orders in the database.

				.container-fluid
					.row
						.col
							table.table.table-striped.table-hover#orderTable
								thead
									tr
										th Order ID
										th Name
										th Date
										th Due Date
										th Company
										th Value
										th Profit
										th Picked
										th Invoiced
								tbody
									each order in orders
										+orderRow(order)

		+footer
		script.
			$('#orderTable').DataTable({
				bDestroy: true,
				pageLength: 100,
				order: [[2, 'desc']]
			});

			function orderSelected(id, e) {
				if (e.target.localName != 'a') {
					window.location="/order?id="+id;
				}
			}
