mixin orderRow(order)
	tr(class=moment().isAfter(order.dueDate) ? 'overdue' : '', class=moment().isSame(order.dueDate, 'day') ? 'due' : '', onclick="window.location='/order?id="+order._id+"'")
		td=order.orderId
		td=order.customer ? order.customer.name : 'No Customer'
		td=moment(order.orderDate).format('MMM Do')
		td=moment(order.dueDate).format('MMM Do')
		td=order.items.length

mixin processingCard(name, id, colour, textColour, orders)
	.card
		.card-header(class=colour + ' ' + textColour)
			h5.mb-0=name
		.card-body.summary-card
			table.table.table-sm.table-hover
				thead
					tr
						th ID
						th Name
						th Order Date
						th Due Date
						th Number of SKUs
				tbody(id=id+"SummaryTable")
					each order in orders
						+orderRow(order)
		.card-footer(id=id+"CardFooter")= orders.length + ' orders.'

doctype html
include mixins
html
	include includes/head
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")
		//script(src="js/order-dashboard.js")
		title Order Dashboard
	body
		#wrapper
			+sidebarNav("home")
			#page-content
				.container-fluid
					button.btn.btn-secondary.btn-toggles(type="button")#left-menu-toggle
						i.far.fa-bars.fa-fw
					.starter-template
						h1 Order Dashboard
						p.lead The current state of the orders for US and Canada.
				.container-fluid.px-5
					.row.mt-3
						.col-12
							.alert.alert-danger#overdueOrders=orders.filter(o => moment(o.dueDate) < moment()).length + ' orders are overdue.'
							.alert.alert-info#dueOrders=orders.filter(o => moment(o.dueDate).isSame(new Date(), 'day')).length + ' orders are due today. ' + orders.filter(o => o.batch != null || o.batch != undefined).length + ' orders are currently being picked.'
					.row.mt-3
						.col-6
							- usOrders = orders.filter(o => !o.canadian && !o.amazon)
							+processingCard("US Orders", "us-processing", "bg-primary", "text-white", usOrders)
						.col-6
							- canOrders = orders.filter(o => o.canadian)
							+processingCard("Canadian Orders", "ca-processing", "bg-primary", "text-white", canOrders)
					.row.mt-3
						.col-6
							- amazonOrders = orders.filter(o => o.amazon)
							+processingCard("Amazon Orders", "az-processing", "bg-primary", "text-white", amazonOrders)

		+footer