mixin billingAddress(order)
	address
		h3 Billing
		strong=order.BillingFirstName + " " + order.BillingLastName
		br
		if (order.BillingCompany)
			strong=order.BillingCompany
			br 
		=order.BillingAddress
		br
		if (order.BillingAddress2)
			=order.BillingAddress2
			br
		=order.BillingCity + ", " + order.BillingState
		br
		=order.BillingCountry + ", " + order.BillingZipCode

mixin shippingAddress(shippingInfo)
	address
		h3 Shipping
		strong=shippingInfo.ShipmentFirstName + " " + shippingInfo.ShipmentLastName
		br
		if (shippingInfo.ShipmentCompany)
			strong=shippingInfo.ShipmentCompany
			br
		=shippingInfo.ShipmentAddress
		br
		if (shippingInfo.ShipmentAddress2)
			=shippingInfo.ShipmentAddress2
			br
		=shippingInfo.ShipmentCity + ", " + shippingInfo.ShipmentState
		br
		=shippingInfo.ShipmentCountry + ", " + shippingInfo.ShipmentZipCode

mixin pickTableRow(item)
	tr
		td= item.ItemWarehouseLocation
		td= item.ItemID
		td= item.ItemQuantity
		td Test
		td= item.ItemDescription
		td= item.ItemUnitStock

mixin customerInfoPanel(order)
	.panel.panel-default
		.panel-heading 
			a(data-toggle="collapse", data-target="#orderInfo").panel-title=order.InvoiceNumberPrefix + order.InvoiceNumber
		.panel-body.panel-collapse.collapse.in#orderInfo
			.row
				.col-lg-2
					+billingAddress(order)
				.col-lg-2
					+shippingAddress(order.ShipmentList[0])
				.col-lg-8
					table.table.table-striped
						thead
							tr
								th Phone
								th Email
								th Ship Method
								th Order Date
						tbody
							tr
								td= order.ShipmentList[0].ShipmentPhone
								td= order.BillingEmail
								td= order.ShipmentList[0].ShipmentMethodName
								td= formatDate(order.OrderDate)
			.row
				.col-lg-12
					h4 Comments
					.well
						p=order.CustomerComments

mixin orderItemPanel(order)
	.panel.panel-default
		.panel-heading
			a(data-toggle="collapse", data-target="#pickSheet").panel-title Pick Sheet
		.panel-body.panel-collapse.collapse.in#pickSheet
			.row
				.col-lg-12
					table.table.table-striped.table-hover(id="pickTable"+order.InvoiceNumberPrefix+order.InvoiceNumber)
						thead
							tr
								th Location
								th SKU
								th Order Quantity
								th Picked
								th Adjustments
								th Description
								th Stock Level
						tbody(id="pickTableBody"+order.InvoiceNumberPrefix+order.InvoiceNumber)

mixin orderSection(order)
	.container
		+customerInfoPanel(order)
		+orderItemPanel(order)
	.pagebreak

doctype html
include mixins
html
	include includes/head
		title Pick Sheet
	body
		+navbar("picksheet")
		
		-var formatDate = function(dateString) {
			-return dateString.split('T')[0];
		-}

		.container.top-25
			if (order)
				+orderSection(order)
			else
				for order in orders
					+orderSection(order)

	include includes/end
		script(type="text/javascript", src="js/picksheet.js")
		if (order)
			script.
				buildPickTable(!{JSON.stringify(order)});
		else if (orders)
			script.
				buildPickTables(!{JSON.stringify(orders)});
