mixin tableRow(order)
	tr(onclick="openOrder('"+order._id+"', event)")
		td
			input(type="checkbox", style="transform: scale(2);" order-id=order._id).order-check
		td=order.orderId
		td=moment(order.orderDate).format('YYYY-MM-DD HH:mm')
		td=order.name
		td=order.cartOrder.BillingCompany
		td=order.items.length
		td=order.items.reduce((total, item) => total + parseInt(item.quantity), 0)
		td='$' + order.orderValue.toFixed(2)

doctype html
include mixins
html
	include includes/head
		title Print Orders
		script(src="./js/print-orders.js")
	body

		#wrapper
			+sidebarNav("print-orders")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Unpicked Orders
						p.lead Select and order to see it in more detail.
						button.btn-outline-primary.btn(type="button")#printAllButton Print All New Orders
					.row
						.col-6.text-center
							select.form-control.form-control-lg#batchType(style="width: 200px; display: inline-block;")
								option(value="us") US
								option(value="ca") CA
								option(value="az") Amazon
							button.btn-outline-success.btn.btn-lg.ml-2.mb-2(type="button")#createBatchButton Auto Batch
						.col-6.text-center
							button.btn-outline-primary.btn.btn-lg.ml-2.mb-2(type="button")#customBatchButton Custom Batch

				.container-fluid
					.row.pt-3
						.col-lg-12
							table.table-hover.table#orderTable
								thead
									tr
										th
										th Order Number
										th Order Date
										th Customer Name
										th Company Name
										th Number of SKUs
										th Number of Items
										th Value of Order
								tbody#orderTableBody
									each order in orders
										+tableRow(order)
		+footer
		script.
			$(document).ready(e => {
				$('#customBatchButton').click(e => {
					var orderIds = [];
					$('.order-check').each((i, obj) => {
						if ($(obj).is(':checked')) {
							orderIds.push($(obj).attr('order-id'));
						}
					});
					if (orderIds.length > 0) {
						socket.emit('getCustomBatch', orderIds, (batch) => {
							window.location = '/batch-sheet?id='+batch._id;
						});
					}
				});

				$('#orderTable').dataTable({
					order: [[2, 'asc']],
					pageLength: 25
				});
			});	

			function openOrder(id, e) {
				console.log(e);
				if (e.target.localName != 'input') {
					window.open('/order?id='+id, '_blank');
				}
			}


	include includes/end
