mixin billingAddress(customer)
	address
		h3 Billing
		strong=customer.name
		br
		if (customer.companyName)
			strong=customer.companyName
			br 
		=customer.billingAddress
		br
		if (customer.billingAddress2)
			=customer.billingAddress2
			br
		=customer.billingCity + ", " + customer.billingState
		br
		=customer.billingCountry + ", " + customer.billingZipCode

mixin shippingAddress(shippingInfo)
	address
		h3 Shipping
		strong=shippingInfo.ShipmentFirstName + " " + shippingInfo.ShipmentLastName
		br
		if (shippingInfo.ShipmentCompany)
			strong=shippingInfo.ShipmentCompany
			br
		=shippingInfo.ShipmentAddress
		br
		if (shippingInfo.ShipmentAddress2)
			=shippingInfo.ShipmentAddress2
			br
		=shippingInfo.ShipmentCity + ", " + shippingInfo.ShipmentState
		br
		=shippingInfo.ShipmentCountry + ", " + shippingInfo.ShipmentZipCode

mixin itemRow(item)
	tr
		td=item.item.sku
		td=item.quantity
		td=item.pickedQuantity
		td=item.item.name
		td='$' + item.price.toFixed(2)
		td='$' + (item.price * item.pickedQuantity).toFixed(2)

mixin unsentItemRow(item)
	tr
		td=item.item.sku
		td=item.item.name
		td=item.quantity
		td='$' + item.price
		td=item.item.discontinued ? 'Discontinued' : 'Not in stock'
		td=(item.item.availableForBackorder && !item.item.discontinued) ? 'Yes' : 'No'

body
	.container-fluid
		.row
			.col
				h1= order.orderId
				p Dear #[=order.customer.firstname], 
				p Thank you for shopping at Ecstasy Crafts. 
					if (order.shipDate)
						|  Your order is scheduled to ship on #[=moment(order.shipDate).format('MMMM Do')].
					if (order.paid)
						|  Your order has been successfully paid.
					else
						|  We are currently processing your payment.
				if (order.trackingNumber)
					p= 'Your tracking number is ' + order.trackingNumber + '.'
				p Below you will find your invoice. 
		.row
			.col
				+billingAddress(order.customer)
			.col
				+shippingAddress(order.cartOrder.ShipmentList[0])
		.row
			.col
				h2 Order Summary
				table.table.table-striped.table-hover.table-sm
					thead 
						tr
							th Items Ordered
							th Items Shipped
							th Ship Method
							th Payment Method
					tbody.infoTableBody
						tr
							td= order.items.reduce((total, item) => total + item.quantity, 0)
							td= order.items.reduce((total, item) => total + item.pickedQuantity, 0)
							td= order.cartOrder.ShipmentList[0].ShipmentMethodName
							td= order.cartOrder.BillingPaymentMethod
		.row
			- let unsentItems = false;
			.col
				h2 Invoice
				table.table.table-striped.table-hover.pick-table
					thead
						tr
							th SKU
							th Ordered
							th Shipped
							th Description
							th Price
							th Line Total
					tbody
						each item in order.items
							if (item.pickedQuantity > 0)
								+itemRow(item)
							else
								- unsentItems = true;
						tr
							th
							th
							th
							td Shipping &amp; Handling
							td= '$' + (order.shippingCost ? order.shippingCost.toFixed(2) : '0.00')
							td= '$' + (order.shippingCost ? order.shippingCost.toFixed(2) : '0.00')
						- grandTotal += order.shippingCost ? order.shippingCost : 0;
						tr
							th
							th
							th
							td Sales Tax
							td='$' + order.salesTax.toFixed(2)
							td='$' + order.salesTax.toFixed(2)
						if (order.discount > 0)
							tr
								th
								th
								th
								td Discounts
								td= '$' + (order.discount ? order.discount.toFixed(2) : '0.00')
								td= '$' + (order.discount ? order.discount.toFixed(2) : '0.00')
						tr
							th
							th
							th
							th Total
							th
							th= '$' + (order.subtotal + order.salesTax).toFixed(2)
		if (unsentItems)
			.row
				.col
					h3 Items not sent
					table.table.table-striped.pick-table
						thead
							tr
								th SKU
								th Description
								th Ordered
								th Price
								th Reason
								th Backordered
						tbody
							each item in order.items
								if (item.pickedQuantity == 0)
									+unsentItemRow(item)
					p #[strong Only Creative Expressions, Lavinia or Sticky Specks] items that were not sent in your order will be back-ordered and sent when they arrive. #[strong Please let us know if you do not want us to hold a back order for you].
		.row
			.col
				p If you have any questions or concerns please reply to this email and we will get back to you as soon as possible.
				p Sincerely, #[br] The Team at Ecstasy Crafts.
